:root {
	--plum:#933469;
	--white:#F8F4FB;
	--pink:#E4C3D1;
	--brown:#573F4C;
}
html{
	font-size:18px;
}
body {
	padding: 0;
	margin: 0;
	background: var(--plum);
  }
  /*--- navigation bar ---*/
  .navbar {
	background:var(--brown);
  }
  .nav-link,
  .navbar-brand {
	color: var(--pink);
	cursor: pointer;
  }
  .nav-link {
	margin-right: 1em !important;
  }
  .nav-link:hover {
	color: var(--white);
  }
  .navbar-collapse {
	justify-content: flex-end;
  }
 
  .header {
	background-image: url('img/backdround.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
  }
  .overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
  }
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
  }
.description h1 {
	color: var(--pink);
	
  }
.description p {
	color: var(--white);
	font-size: 1.618rem;
	line-height: 1.5;
  }

.description a, .aboutme a {
	border:1px solid var(--plum);
	background:var(--pink);
	border-radius: 0;
	color:var(--plum);
	opacity:0.5;
  }
.description a:hover, .aboutme a:hover {
	border:1px solid var(--plum);
	background:var(--pink);
	color:var(--plum);
	opacity:0.9;
  }

.custom-button:focus {
	box-shadow: none!important;
	color: var(--plum)!important; 
	background-color: var(--pink)!important; 
	border-color: var(--plum)!important;
}

.aboutme {
	padding: 1em;
	position: relative;
	color: var(--white);
	
  }

 
.aboutme img {
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
	
}
.centerBlock {
	display: table;
	margin: auto;
  }
.aboutme-header {
	  color: var(--pink);
	  text-align: center;
  }
  
.shortfacts-list 
  {
	list-style: none;
	border-width: 0 3px 0 0;
	border-style: dotted; 
	padding-right: 10px;
	border-color: var(--pink);
  }
.shortfacts-item {
	position: relative;
	padding-left:1.5em;
}
.shortfacts-list li:before {
	content: "\2605";
	position: absolute;
	left:0;
	width:1em;
	height:1em;
  }

.portfolio {
	background-color: var(--pink);
	padding: 1em;
	position: relative;
	color: var(--brown);
	text-align: center;
}

.portfolio .flex-column {
	max-width: 260px;
}

.portfolio img {
	margin: 5px;
}

.text-img-overlay{
	position: relative;
	width:auto;
	height:auto;
	overflow:hidden;
}
.text-img-overlay .text-img{
	position: absolute;
	display: block;
	width: 100%;
	height:20%;
	background-color: var(--plum);
	color: var(--pink);
	bottom: 0px;
	opacity:0;
	transition: opacity 0.5s ease-in-out;
	margin:5px;
	font-size:1rem;
	font-family: 'Josefin Sans', sans-serif; 
	text-align: left;
}
.text-img-overlay:hover .text-img {
	opacity:0.8;
}


.skills{
	padding: 1em 20% 1em 20%;
	background-color: var(--plum);
}
.skills-header {
	color: var(--pink);
	margin-bottom: 0px;
	padding: 0px;
	text-align: center;
}
.skills h3 {
	color: var(--white);
	text-align: center;
	margin-top:10px;
}

.wrap {
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
  .card {
	width: 128px;
	height: 128px;
	position: relative;
	perspective: 1000px;
	margin:5px 20px 5px 20px ;
	
  }
  .front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	backface-visibility: hidden;
	border-radius: 10px;
	text-align: center;
  }
  .front {
	background-color: var(--pink);
	color:var(--brown);
  }
  .back {
	color:var(--brown);
	background-color: var(--pink);
	transform: rotateY(180deg);
  }
  .card:hover .front {transform: rotateY(180deg);}
  .card:hover .back {transform: rotateY(360deg);}

	.page-footer {
		background-color: var(--brown);
		color: var(--white);
		padding: 50px 0 30px;
	  }
	  .footer-title {
		color: var(--white);
		margin-bottom: 20px;
		text-align: center;
	  }
	  .footer-copyright {
		color: rgba(228,195,208,0.6);
		padding: 40px 0;
	  }
	  .btn{
		  margin-bottom:20px;
	  }
	  
	
	  .socicons-list {
	  list-style: none;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 15vh;
	  padding: 0px;
	}
	.socicons-list li {
	  margin: 10px 10px;
	}
	.socicons-list li a {
	  text-decoration: none;
	  padding: 20px;
	  border-radius: 40%;
	  color: #fff;
	  background-color: #f1f1f1;
	  transition: all ease-in-out 150ms;
	}
	.socicons-list li a:hover {
	text-shadow: 0 5px 10px #212121;
	}
	
	.socicons-list li:nth-child(1) a {
		background-color: #3e5b98;
	}
	.socicons-list li:nth-child(2) a {
		background-color: #c13584;
	}
	.socicons-list li:nth-child(3) a {
		background-color: #3371b7;
	}


h1 {
	font-family: 'Cookie', cursive;
    font-size: 2.61rem;
}
p, a, .footer-copyright, .form-group, h3, h4, .card, .btn {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1rem;
}



  @media (max-width: 500.00px) {
	.header {
	float: none;
    display: block;
    text-align: left;
	}
	
	.description {
	  left: 0;
	  padding: 0 15px;
	  position: absolute;
	  top: 30%;
	  transform: none;
	  text-align: center;
	}
	
	.description h1 {
	  font-size: 2em;
	}
	
	.description p {
	  font-size: 1.2rem;
	}
	
	.aboutme {
	  margin: 0;
	}
	.img-fluid {
		max-width: 300px;
	}
	
  }