:root {
	--plum:#933469;
	--white:#F8F4FB;
	--pink:#E4C3D1;
	--brown:#573F4C;
}
body {
	padding: 0;
	margin: 0;
	background: var(--plum);
  }
  /*--- navigation bar ---*/
  .navbar {
	background:var(--brown);
  }
  .nav-link,
  .navbar-brand {
	color: var(--pink);
	cursor: pointer;
  }
  .nav-link {
	margin-right: 1em !important;
  }
  .nav-link:hover {
	color: var(--white);
  }
  .navbar-collapse {
	justify-content: flex-end;
  }
  .header {
	background-image: url('img/backdround.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
  }
  .overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
  }
  .description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
  }
  .description h1 {
	color: var(--pink);
  }
  .description p {
	color: var(--white);
	font-size: 1.3rem;
	line-height: 1.5;
  }

  .description button {
	border:1px solid var(--pink);
	background: rgba(228,195,208,0.5);
	border-radius: 0;
	color:var(--white);
  }
  .description button:hover {
	border:1px solid var(--white);
	background:rgba(228,195,208,0.8);
	color:var(--plum);
  }