:root {
	--plum:#933469;
	--white:#F8F4FB;
	--pink:#E4C3D1;
	--brown:#573F4C;
}
body {
	padding: 0;
	margin: 0;
	background: var(--plum);
  }
  /*--- navigation bar ---*/
  .navbar {
	background:var(--brown);
  }
  .nav-link,
  .navbar-brand {
	color: var(--pink);
	cursor: pointer;
  }
  .nav-link {
	margin-right: 1em !important;
  }
  .nav-link:hover {
	color: var(--white);
  }
  .navbar-collapse {
	justify-content: flex-end;
  }
  .header {
	background-image: url('img/backdround.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
  }
  .overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
  }
  .description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
  }
  .description h1 {
	color: var(--pink);
  }
  .description p {
	color: var(--white);
	font-size: 1.3rem;
	line-height: 1.5;
  }

  .description button {
	border:1px solid var(--pink);
	background: rgba(228,195,208,0.1);
	border-radius: 0;
	color:var(--white);
  }
  .description button:hover {
	border:1px solid var(--white);
	background:rgba(228,195,208,0.6);
	color:var(--plum);
  }

  .features {
	margin: 1em auto;
	padding: 1em;
	position: relative;
	color: var(--white);
  }
 /* .feature-title {
	color: var(--white);
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase; 
  }*/
  .features img {
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
  }

  .aboutme {
	  color: var(--pink);
	  font-size: 1.3rem;
	  margin-top: 20px;
	  text-align: center;

  }
  
  .shortfacts-list 
  {
	list-style: none;
	border-width: 0 5px 0 0;
	border-style: dotted; 
	padding-right: 10px;
	border-color: var(--pink);
  }
.shortfacts-item {
	position: relative;
	padding-left:1.5em;
}
  .shortfacts-list li:before {
	content: "\2605";
	position: absolute;
	left:0;
	width:1em;
	height:1em;
  }

  .page-footer {
	background-color: var(--brown);
	color: var(--white);
	padding: 60px 0 30px;
  }
  .footer-copyright {
	color: rgba(228,195,208,0.6);
	padding: 40px 0;
  }









  @media (max-width: 575.98px) {
	.description {
	  left: 0;
	  padding: 0 15px;
	  position: absolute;
	  top: 10%;
	  transform: none;
	  text-align: center;
	}
	
	.description h1 {
	  font-size: 2em;
	}
	
	.description p {
	  font-size: 1.2rem;
	}
	
	.features {
	  margin: 0;
	}
  }